body{
    background-color: #cbd0c9!important;
}
.question{
    padding: 10px;
    margin-bottom: 15px;
    background-color: #65b6f3;
    -webkit-animation-duration: 650ms;
    -webkit-animation-delay: 0s;
}
ul{
    text-decoration: none;
    list-style:none;
    margin: 0;
    padding: 0;

}
.choices{
    margin-bottom: 15px;
}
.choices ul li{
    padding:10px;
    margin: 5px 10px;
    background-color: #8aa0b1;
    border-color: #4a535e;
}
.next{
    float: right;
}
.navigate{

}
.qcm{
    margin-top: 35px;
    display: none;
}
.author{
    position: absolute;
    right: 18px;
    bottom: 12px;
}
ul.preview {
    margin-left: 15px;
    list-style-type: disc;
    list-style-position: inside;
}
.intro{
    position: relative;
    background-color: #b3c697;
    margin: 35px 20px;
    padding: 15px 25px;
    border-radius: 3px;
}
.small{
    font-size: small;
}
#start{
    margin-top: 25px;
}
input[type="radio"]{
    margin-right: 15px!important;
}
.res{
    text-align: center;
}
pre{
    display: block!important;
    font-family: sans-serif!important;
    padding: 9.5px!important;
    margin: 0 0 10px!important;
    font-size: 15px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    word-break: break-all!important;
    word-wrap: break-word!important;
    background-color: #65b6f3!important;
    border: 1px solid #65b6f3!important;
    border-radius: 4px!important;
}